#pragma once

#define WIFI_SSID        "your_wifi_ssid"
#define WIFI_PASSWORD    "your_wifi_password"
#define OTA_PASSWORD     "your_OTA_password"
#define FIREBASE_API_KEY    "your_firebase_api_key"
#define FIREBASE_PROJECT_ID "your_firebase_id"
#define FIREBASE_USER_EMAIL "your_email_firebase_for_auth"
#define FIREBASE_USER_PASS  "your_pass_email"
#define FIREBASE_DATABASE_URL  "your_database_url"